#sd_adv_grid_settings {
  /* reverse to Gradio's default */
  --checkbox-label-gap: var(--spacing-lg);
  padding-top: var(--layout-gap);
}

#sd_adv_grid_settings .extra-options .gradio-checkbox {
  margin: 0;
  display: flex;
}

#sd_adv_grid_settings .extra-options .gradio-checkbox.hidden {
  display: none;
}

#sd_adv_grid_settings .extra-options .gradio-checkbox > div {
  width: 100%;
}

#sd_adv_grid_settings .extra-options .gradio-checkbox label {
  align-self: end;
}

#sd_adv_grid_settings .axis-row span:not(.has-info) {
  margin-bottom: var(--spacing-lg);
}

#sd_adv_grid_settings .axis-row .gradio-dropdown .token {
  overflow-wrap: anywhere;
}

#sd_adv_grid_settings input:disabled, #sd_adv_grid_settings textarea:disabled {
  background-color: var(--input-background-fill);
  opacity: 0.5;
}